.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.osszesites {
  width: 21.5%;
}
.nevek{
  width: 40%;
}
.row.body{
  background-color:lightskyblue;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
}
