<div class="row" style="display: flex; justify-content: center ">

  <div class="row">

    <div class="col-md-12" style="display: flex; justify-content: center">

      <button class="selectb" mat-raised-button [ngClass]="{'test':toggleo}" type="button" id="ovodab" style="margin:10px" (click)="filterOvoda($event)"  >Óvoda </button>
      <button  class="selectb" mat-raised-button [ngClass]="{'test':togglei} " type="button"  id="iskolab" style="margin:10px"  (click)="filterIskola()" >Iskola </button>
      <button class="selectb" mat-raised-button  [ngClass]="{'test':togglev}" type="button" id="vendegb" style="margin:10px"   (click)="filterVendeg()" >Vendég</button>

    </div>
  <div class="col-md-12" style="display: flex; justify-content: center">


  <button type="button" (click)="previousDay()" class="btn btn-outline-danger" style="margin: 20px">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
    </svg>
    Előző nap
  </button>
<div class="text-center" style="margin: auto 10px ;">
  <input type="date"  [(ngModel)]="datestring" (ngModelChange)="onDateChange($event)"   id="currentdate" name="currentdate" class="form-control" >
     </div>

    <button type="button" (click)="nextDay()" class="btn btn-outline-danger" style="margin: 20px">
      Következő nap
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
      </svg>
    </button>
  </div>


</div>



  <div class="col text-center">
    <button (click)="formShow()" class="btn btn-primary new" style="background-color: green; margin: 10px "
    >Új személy</button>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="clicked" >
<div class="grid-container">
  <div class="grid-item name">

      <label for="name" class="control-label" >Név: </label>
      <input type="text" class="form-control" id="name" name="name" ngModel required>

    <label for="birthDate" class="control-label" id="birthDate">Születési idő: </label>
    <input  class="form-control" type="date" id="birthdateinput" name="birthdateinput" ngModel required>

    <label for="discount" class="control-label">Kedvezmény: </label>
    <select class="form-select" id="discount" name="discount" aria-label="Default select example">
      <option selected>Kiválasztás</option>
      <option value="10%">10% </option>
      <option value="50%">50% </option>
      <option value="100%">100% </option>

    </select>

  </div>


    <div class="grid-item discount">

      <label for="documenttype" class="control-label" >Dokumentum típusa: </label>
      <select class="form-select" id="documenttype" name="documenttype" aria-label="Default select example">
        <option selected>Kiválasztás</option>
        <option value="Gyermekvédelmi támogatás">Gyermekvédelmi támogatás </option>
        <option value="Ingyenes étkezési nyilatkozat">Ingyenes étkezési nyilatkozat</option>
        <option value="Tartós beteg">Tartós beteg</option>
        <option value="3+ gyermekes">3+ gyermekes</option>
        <option value="Nevelésbe vett">Nevelésbe vett</option>

      </select>

      <label for="startdate" class="control-label" >Kezdet: </label>
      <input type="date" id="startdate" name="startdate" class="form-control">

      <label for="enddate" class="control-label" >Lejárat: </label>
      <input type="date" id="enddate" name="enddate" class="form-control">


    </div>


</div>
      <label for="group" style="" class="control-label" >Csoport: </label>
      <select (change)="onClassSelected()" class="form-select" id="group" name="group" aria-label="Default select example">
        <option selected>Kiválasztás</option>
        <option value="Iskola">Iskola </option>
        <option value="Óvoda">Óvoda</option>
        <option value="Idősek otthona">Idősek otthona</option>
        <option value="Vendég">Vendég</option>


      </select>

      <div *ngIf="schoolselected" >
        <label for="school_group" style="" class="control-label" >Iskolai csoport: </label>
        <select  class="form-select" id="school_group" name="school_group" aria-label="Default select example">
          <option selected>Kiválasztás</option>
          <option value="Napközi">Napközi </option>
          <option value="Menza">Menza</option>

        </select>
      </div>


  <button  type="submit" style="margin:20px" class="btn btn-success" >Mentés</button>


    </form>



    <app-personinfo ></app-personinfo>



  </div>

</div>

