
<div class="row" style="justify-content: center">
  <div class="col-md-8">
    <mat-expansion-panel  (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        Hamarosan lejáró igazolások:
      </mat-panel-title>
      <mat-panel-description style="justify-content: center">
        {{soonexpirepeople.length}} személy
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div *ngFor="let p of soonexpirepeople" class="row">
        <hr>
        <p >Név: {{p.name}}</p>
        <p >Dokument típusa: {{p.doctype}}</p>
        <p >Lejárat: {{p.docendDate}}</p>
        <hr>
      </div>


    </mat-expansion-panel>

  </div>

</div>
